.container {
  &[open] {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-2);

    > form {
      padding: 1em;
    }
  }
}

.buttons {
  margin-top: var(--spacing-2);
  display: flex;
  justify-content: space-between;
}
