.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.searchBar {
  margin: var(--spacing-2) 0;
}

.searchLabel {
  display: none;
}

.courseList {
  width: 100%;
}

.loadingIcon {
  width: 60px;
  fill: var(--red);
  margin-bottom: var(--spacing-1);
}

.loadingContainer {
  margin: var(--spacing-4) auto;
  text-align: center;
}
