.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.searchContainer {
  display: flex;
  gap: var(--spacing-2);
}

.searchBar {
  margin: var(--spacing-2) 0;
}

.searchLabel {
  display: none;
}

.courseList {
  width: 100%;
}

.loadingIcon {
  width: 60px;
  fill: var(--red);
  margin-bottom: var(--spacing-1);
}

.loadingContainer {
  margin: var(--spacing-4) auto;
  text-align: center;
}

.toggleFiltersButton {
  height: fit-content;
  margin: auto 0;
  padding: var(--spacing-2);
}

.filtersIcon {
  height: 20px;
  width: 20px;
}
