.item {
  padding: var(--spacing-1) 0;
}

.toggle {
  float: right;
}

.content {
  display: grid;
  grid-template-columns: 40px 1fr 20px;
  gap: var(--spacing-2);
  align-items: center;
  word-break: break-word;

  @media screen and (min-width: 360px) {
    gap: var(--spacing-2);
    grid-template-columns: 40px 1fr 1fr 80px 50px;
  }

  @media screen and (min-width: 480px) {
    gap: var(--spacing-2);
    grid-template-columns: 40px 1fr 1fr 80px 40px;
  }
}

.header {
  padding: var(--spacing-4) 0;
  display: grid;
  grid-template-columns: 82px 1fr 50px;
  gap: var(--spacing-2);

  @media screen and (min-width: 480px) {
    gap: var(--spacing-2);
    grid-template-columns: 132px 1fr 1fr 140px 60px;
  }
}
