.notLink {
  text-decoration: none;
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

.card {
  @extend .notLink;
  padding: var(--spacing-2);

  border-radius: var(--spacing-1);
  border: solid 1px var(--background-color-offset);
  background-color: var(--background-color-offset);

  &:hover {
    border: solid 1px var(--text-color);
    cursor: pointer;
  }
}
