.container {
  max-width: var(--screen-md);
  margin: 0 auto;
}

.sectionHeading {
  margin: var(--spacing-2) 0;
}

.reposSection {
}

.reposList {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-4);

  @media screen and (min-width: 360px) {
    grid-template-columns: 1fr 1fr;
  }
}

.contributorsSection {
  display: grid;
  grid-template-areas:
    'header'
    'text'
    'contributors';
  grid-template-columns: 1fr;
  gap: var(--spacing-4);

  @media screen and (min-width: 800px) {
    grid-template-areas:
      'header header'
      'text contributors';
    grid-template-columns: 320px 1fr;
  }
}

.contributorsTitle {
  @extend .sectionHeading;
  grid-area: header;
}

.contributorsText {
  grid-area: text;
}

.contributorsList {
  grid-area: contributors;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2);

  @media screen and (min-width: 360px) {
    grid-template-columns: 1fr 1fr;
  }
}

.orgsSection {
  display: grid;
  grid-template-areas:
    'header'
    'text'
    'organization';
  grid-template-columns: 1fr;
  gap: var(--spacing-4);

  @media screen and (min-width: 800px) {
    grid-template-areas:
      'header header'
      'text organization';
    grid-template-columns: 320px 1fr;
  }
}

.orgsHeader {
  @extend .sectionHeading;
  grid-area: header;
}

.orgsText {
  grid-area: text;
}

.orgsCard {
  grid-area: organization;
}
