.card {
  display: grid;
  grid-template-areas:
    'image name'
    'image username';
  gap: var(--spacing-2);
  grid-template-columns: 60px 1fr;
}

.imageContainer {
  grid-area: image;
}

.image {
  width: 60px;
  border-radius: 50%;
}

.name {
  grid-area: name;
}

.content {
  grid-area: username;
}
