.card {
  padding: var(--spacing-4);
  display: grid;
  grid-template-areas:
    'image name'
    'image content'
    'description description';
  gap: var(--spacing-2);
  column-gap: var(--spacing-4);
}

.imageContainer {
  grid-area: image;
}

.image {
  width: 100px;
  border-radius: 50%;
}

.name {
  grid-area: name;
}

.content {
  grid-area: content;
}

.description {
  grid-area: description;
}
