.buttons {
  display: flex;
  justify-content: space-between;
}

.victoryContainer {
  user-select: auto !important;
  pointer-events: auto !important;
  touch-action: auto !important;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing-3);
}
