.navbar {
  width: 100%;
  border-bottom: solid 1px var(--text-color);
}

.content {
  max-width: var(--screen-lg);
  width: 100%;
  margin: 0 auto;
  padding: var(--spacing-4);
  display: flex;
}

.linksList {
  display: flex;
  gap: var(--spacing-4);
  width: 100%;
  align-items: center;
  text-align: end;
  margin-left: var(--spacing-6);
}

.linkItem {
  text-align: end;
}

.courses {
  @extend .linkItem;
  justify-self: flex-start;
}

.about {
  @extend .linkItem;
  justify-self: flex-end;
  margin-left: auto;
}

.login {
  @extend .linkItem;
  justify-self: flex-end;
}

.pageNameLink {
  margin: auto 0;
}

/* Dirty hack to increase specificity */
.pageName.pageName {
  font-size: var(--font-size-md);
  @media screen and (min-width: 480px) {
    font-size: var(--font-size-lg);
  }
}
