.base {
  background-color: unset;

  &:hover {
    cursor: pointer;
  }
}

.buttonVariant {
  padding: var(--spacing-2);
  border-radius: var(--spacing-1);
  border: solid 1px var(--background-color-offset);
  background-color: var(--background-color-offset);
  margin-top: var(--spacing-1);

  &:hover {
    border: solid 1px var(--text-color);
  }
}

.linkVariant {
  text-decoration: underline;
  appearance: none;
  border: 0;
}
