.base {
  background-color: unset;
  color: var(--text-color);
  fill: var(--text-color);

  &:hover {
    cursor: pointer;
  }
}

.buttonVariant {
  padding: var(--spacing-2);
  border-radius: var(--spacing-1);
  border: solid 1px var(--background-color-offset);
  background-color: var(--background-color-offset);
  margin-top: var(--spacing-1);

  &:hover {
    border: solid 1px var(--text-color);
  }

  &:disabled,
  &.disabled {
    cursor: auto;
  }

  &:focus,
  &:focus-visible,
  &:active,
  &.active {
    border: solid 1px var(--text-color);
  }

  &.active,
  &:active {
    &.inverted {
      fill: var(--inverted-text-color);
      color: var(--inverted-text-color);
      background-color: var(--inverted-background-color-offset);
      outline: 0;
    }
  }

  &:not(:focus, :focus-visible, :active, .active) {
    border: none;
    outline: 0;
  }
}

.linkVariant {
  text-decoration: underline;
  appearance: none;
  border: 0;
}
