.btn-primary {
  background-color: #577492;
}

.btn-primary:hover {
  background-color: #3d5166;
}

.btn-primary:focus {
  background-color: #3d5166;
}

.tags {
  margin-bottom: 5px;
}

.btn-tag {
  margin-bottom: 5px;
}

.btn-group {
  float: none !important;
}

tbody > tr:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-default {
  background-color: #577492;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #a5a8a9;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a5a8a9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a5a8a9;
  background-color: #3d5166;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #a5a8a9;
  background-color: #3d5166;
}
.navbar-default .navbar-toggle {
  border-color: #3d5166;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3d5166;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #a5a8a9;
}

body,
html {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.hide {
  display: none;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #3d5166;
  }
}

.victory-container {
  user-select: auto !important;
  pointer-events: auto !important;
  touch-action: auto !important;
}
