.notLink {
  text-decoration: none;
  &:hover,
  &:visited,
  &:active {
    text-decoration: none;
  }
}

.card {
  @extend .notLink;

  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: 1fr min-content;
  grid-auto-rows: min-content;
  grid-template-areas: 'code grade' 'name name';
  padding: var(--spacing-4);

  border-radius: var(--spacing-1);
  border: solid 1px var(--middle-gray);

  &:hover {
    border: solid 1px var(--text-color);

    .gradeA {
      color: var(--grade-a);
    }

    .gradeB {
      color: var(--grade-b);
    }

    .gradeC {
      color: var(--grade-c);
    }

    .gradeD {
      color: var(--grade-d);
    }

    .gradeE {
      color: var(--grade-e);
    }

    .gradeF {
      color: var(--grade-f);
    }

    .gradePassed {
      color: var(--grade-passed);
    }

    .gradeNotPassed {
      color: var(--grade-not-passed);
    }
  }
}

.code {
  grid-area: code;
}

.text {
  grid-area: name;
  opacity: 0.7;
  align-self: flex-start;
  text-align: start;
}

.grade {
  grid-area: grade;
  font-size: var(--font-size-lg);
  opacity: 0.7;
  line-height: 1;
}
