.heading {
  margin-bottom: var(--spacing-2);
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-2);

  @media screen and (min-width: 360px) {
    grid-template-columns: 1fr 1fr;
  }
}
