.container {
  max-width: var(--screen-md);
  margin: 0 auto;
}

.title {
  margin: var(--spacing-8) 0 var(--spacing-4);
  text-align: center;
}

.paragraphTitle {
  margin-bottom: var(--spacing-1);
}

.paragraph {
  margin-bottom: var(--spacing-4);
}

.feideButton {
  background-color: var(--feide-blue);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--spacing-8);
  width: min-content;
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-6) auto;
  border: none;
  white-space: nowrap;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-style: normal;
  border-radius: var(--spacing-1);
}
