.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'heading'
    'charts'
    'facts'
    'controls'
    'content'
    'report';
  gap: var(--spacing-4);

  @media screen and (min-width: 800px) {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      'heading heading'
      'charts facts'
      'controls facts'
      'content facts'
      'content report';
  }
}

.heading {
  margin: var(--spacing-1);
  grid-area: heading;
}

.charts {
  grid-area: charts;
  min-width: 0;
}

.facts {
  grid-area: facts;
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--spacing-4);
}

.content {
  grid-area: content;
}

.report {
  grid-area: report;
  align-self: start;
}

.controls {
  grid-area: controls;
  min-width: 0;
}
