.scrollOuter {
  overflow-x: scroll;
  direction: rtl;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.scrollInner {
  display: flex;
  gap: var(--spacing-2);
}

.scrollButton {
  width: 100px;
  text-align: center;
}
