.textarea {
  width: 100%;
  padding: var(--spacing-2);
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid 1px var(--text-color);
  border-radius: var(--spacing-1);
  font-family: inherit;
  font-size: var(--font-size-sm);
}
